.task-container{
    display: flex;
    justify-content: left;
    align-items: center;
}

.tick{
    margin:.5em 1em;
    min-height: 20px;
    min-width: 20px;
    background-color: #555;
    border-radius: 50%;
    border :1px solid black;
}

.untick{
    margin:.5em 1em;
    min-height: 20px;
    min-width: 20px;
    background-color: white;
    border-radius: 50%;
    border :1px solid black;

}

.task{
    width:500px;
    border:none;
    border-bottom: 1px solid black;

    

}

.update-button, .dlt-button {
    margin-left: 5px;
}




