.theme-container{
    height: 30px;
    width: 50px;
    margin-left :auto;
    color : white;
    background-color: white;

    border-radius: 20px;
}

.theme-button{

    height: 30px;
    width: 50px;
    background-color: rgb(217, 215, 215);
    border-radius: 20px;
    margin-left: auto;
    margin-right: 30px;


}

.theme-switch-light{
    height:30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    border: 1px  grey solid;


}
.theme-switch-dark{
    height:30px;
    width: 30px;
    margin-left: auto;
    background-color: rgb(32, 31, 36);
    border: 1px  white solid;
    border-radius: 50%;



}

.navbarcss-light{
    border-bottom: 1px  rgb(217, 215, 215) solid ;

}
.navbarcss-dark{
    border-bottom: none ;

}